@import "../base/styles.css";

.main-layout .v-csslayout-margin {
	padding: 10px;
}

.contacts .v-table-row-odd {
	background: white;
}


.contacts .v-table-cell-content {
	border-bottom: 1px solid #aaa;
}