@import "../base/styles.css";

.favourite-off input + img {
	opacity: 0.1;
}

input[type = "checkbox"] {
	display: none;	
}

.favourite-on input + img {
	opacity: 1;
}

/**** captions in grid-layout ****/

.strong-name {
	font-size: 20px;
	font-weight: bold;
}

.v-gridlayout-margin .v-caption {
	display: none;
}

/**** Navigation ****/


/**** ListSelect ****/
.v-touchkit-verticalcomponentgroup .v-select-select {
	-webkit-appearance: none;
	border: none;
	height: 30px;
	font-size: 17px;
	margin-left: 10px;
}

.v-select-select > option {
	color: #4E64A1;	
}

/**** Table ****/

.contacts .v-table-row-odd {
	background: white;
}


.v-table .v-touchkit-navbutton {
	border: 1px solid #BBB;
	background: white;
	padding: 0 10px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-top: none;
}

.v-table .v-touchkit-navbutton:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4D8CB9), to(#3E6FA8));
	color: white;
	text-shadow: 0 1px 1px #396897;	
}

.v-table-cell-content > .v-table-cell-wrapper {
	padding: 0;
}

.companies .v-table-cell-content > .v-table-cell-wrapper {
	height: 40px;
	line-height: 40px;
	color: #4E64A1;
	font-weight: bold;
	font-size: 17px;
}

.v-table-table > tbody > tr:first-child .v-table-cell-wrapper {
	padding-top: 5px;
}

.v-table-table > tbody > tr:last-child .v-table-cell-wrapper {
	padding-bottom: 5px;
}


.v-table-table > tbody > tr:last-child .v-touchkit-navbutton {
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border: 1px solid #BBB;
	border-top: none;
}

.v-table-table > tbody > tr:first-child .v-touchkit-navbutton {
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border: 1px solid #BBB;
}

/**** VerticalComponentGroup ****/
.select-company-view {
	position: relative;
}

.add-company {
	position: absolute;
	left: 10px;
	right: 70px;
	top: 0;
}

.add-company-button {
	padding: 2px;
}

.v-touchkit-verticalcomponentgroup > div > .v-csslayout-container > .v-caption {
	text-transform: lowercase;
}